<!DOCTYPE html>
<html lang="es">
<head><meta charset="utf-8"><title>Ingreso Pacientes</title></head>
<body>
  <h1>Ingreso Pacientes</h1>

  {% if messages %}
    {% for m in messages %}
      <div class="alert">{{ m }}</div>
    {% endfor %}
  {% endif %}

  <form method="post">{% csrf_token %}
    <div>{{ form.rut.label_tag }} {{ form.rut }}</div>
    <div>{{ form.password.label_tag }} {{ form.password }}</div>
    <button type="submit">Ingresar</button>
    <p class="login-links">
      <a href="{% url 'solicitar_reset' %}">¿Olvidaste tu contraseña?</a>
    </p>
  </form>
</body>
</html>
